.row{
	margin-left:0px;
    margin-right:0px;
    padding: 0px;
}

.descriptions-crew {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.descriptions-crew .detail-wrapper {
    width:65%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew .details {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    letter-spacing: 0em;
    color: #000;
    font-size: 0.85vw;
    /* width:60%; */
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew .name {
    font-family: 'Crimson';
    font-weight: 700;
    font-size: 2vw;
    letter-spacing: 0em;
    color: #000;
    /* width:80%; */
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew .designation {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    font-size: 0.85vw;
    letter-spacing: 0em;
    color: #000;
    /* width:80%; */
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.description-crew-wrapper{
    display: table;
    height: 75vh;
}

.content-wrapper {
    height: 90vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;  
}

.space-wrapper {
    height: 0vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;  
}