.listen-box {
    width:60px;
    height:60px;
    background-color:#fff;
    position: absolute;
    bottom: 8%;
    right: 0%;
    z-index: 10;
    justify-content: center;
    display: flex;
    flex-direction: row;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.listen-box:hover .listen-box-link p{
    border-bottom: 4px solid #000000; 
    padding-bottom:7px;
    color: #000;
}

.listen-box-img {
    width:20px;
    height:20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.listen-box-link {
    position: absolute;
    top: 25px;
    width:30px;
    height:20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.listen-box img {
    margin:10px;
    flex: 1;
    height: 100%;
}

.listen-box p {
    margin:10px;
    flex: 1;
    height: 100%;
}

