/* .row {
    margin:0;
    padding: 0;
    width:100%;
}

a {
    text-decoration:none; 
    outline: 0;
}

a:hover {
    outline: 0;
    color: #000;
}

a:active {
    text-decoration:none; 
    outline: 0;
    color: #000; 
}

a:visited {
    text-decoration:none; 
    outline: 0;
    color: #000;  
}

.container {
    padding: 0;
}

#scroll-down-link.scrollBtn {
    bottom: -20px;
}

.left-col {
    padding: 0;
    height: 100vh;
}

.right-col {
    padding: 0;
}

.clr {
	clear:both;
	font-size:0;
}

.bg-image{
    height:100vh;
    width:100%;
}

.main-wrapper {
    width:100%;
}

@media (max-width: 720px) {
    .main-wrapper {
    	height:auto;
    }
    .side-bar {
        display: none;
    }
} */

/* --------------------------------------------------------------------------------------------------------------------------- */
/*Start of Description Box */
.descriptions-box {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box p {
    font-family: 'Roboto';
    font-weight: 700;
    color: #000;
    font-size: 2vw;
    letter-spacing: 0em;
    width:55%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.do-not-click-box {
    margin-left: 10%;
    position: relative;
    bottom: 0px;
    margin-bottom: 10%;
}

.do-not-click-box > a{
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.15em;
    color: #000;
    font-size: 12px;
}

.do-not-click-box img {
    margin-right:20px;
}

.do-not-click-box a:hover { 
    border-bottom: 3px solid #000000; 
    padding-bottom: 10px;
    text-decoration: none;
}

.description-box-wrapper {
    height: 80vh;
    display: table;
}

@media only screen and (min-width: 1800px) {
    .descriptions-box p {
        font-size: 37px;
        letter-spacing: 0em;
    }

    .do-not-click-box > a{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px){
    .descriptions-box p {
        font-size: 30px;
        letter-spacing: 0em;
    }

    .do-not-click-box > a{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1300px) and (max-width:1500px){
    .descriptions-box p {
        font-size: 24px;
        letter-spacing: 0em;
    }
    .do-not-click-box > a{
        font-size: 10px;
    }
}

/* End 0f Description Box */
/* --------------------------------------------------------------------------------------------------------------------------- */

/* Start of Carousel */
.item{
	height:100vh;
	width:100%;
	float:left;
}

.right.carousel-control, .left.carousel-control {
	display: none;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
	padding-right:0;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}

.carousel-indicators {
    position: absolute;
    bottom: 40%;
    left: -0.5%;
    z-index: 15;
    width: 0;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
	display: inline-block;
	width:  11px;
	height: 11px;
	margin: 1.5px;
	text-indent: -999px;
	border: 2px solid;
	border-radius: 10px;
	cursor: pointer;

	background-color: #000 \9; /* IE8*/
	background-color: rgba(0,0,0,0); /*IE9*/
}

.carousel-indicators .active {
	  margin: 0;
	  width:  12px;
	  height: 12px;
	  background-color:#000;
}

.carousel-caption
{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
	z-index: 10;
	margin:auto;
	width: 70%;
}

.carousel-caption img{
	margin: 0px;
	display: block;
	width: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media only screen and (max-width: 720px) {
	ol.carousel-indicators{
        display:none;
    }
}

img.bg-image {
    height: 100vh;
	width: 100%;
}

/* End of Carousel */
/* --------------------------------------------------------------------------------------------------------------------------- */

/* Start of Footer */
.footer-left-col {
    padding: 0;
    background-color: rgba(31, 31, 31, 1);
    height: 45vh;
}

.footer-right-col {
    padding: 0;
    height: 45vh;
}

#footer 
{
    background: rgb(226, 226, 226);
    width: 100%;
    position:relative;
    z-index:100;
    height: 45vh;
}

#footer .row
{
    background: rgb(226, 226, 226);
}

#footer ul li {
    float: left;
    margin-right: 16px;
    display: block;
}

#footer ul li a {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 1000;
    color: #000;
    font-size: 12px;
    margin: 15px;
    padding: 0;
}

#footer ul li a:hover { 
    border-bottom: 3px solid #000000; 
    margin-bottom:6px;
}

.subText {
    font-family: 'Roboto';
    font-weight: 100;
    color: #000;
    font-size: 14px;
}

.subText a{
    font-family: 'Roboto';
    font-weight: 100;
    color: #000;
    font-size: 14px;
}

.subText a:hover { 
    text-decoration: none;
    border-bottom: 3px solid #000000; 
    margin-bottom:6px;
}

.footer-col {
    margin: 30px;
    margin-top: 50px;
    line-height: 12px;
}

.footer-logo {
    float: right;
}

#footer .navbar {
    float: right;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.social-logo {
    margin: 17px 10px;
    float: left;
}

.social-logo:hover { 
    border-bottom: 3px solid #000000; 
    margin-bottom:6px;
}

.header {
    font-family: 'Roboto';
    font-weight: 1000;
    color: #000;
    font-size: 18px;
}

.bottom-footer {
    position: absolute;
    bottom:0%;
    width: 100%;
}


@media (max-width: 720px) {
    .footer-left-col {
        display: none;
    }

    #footer .navbar {
        float: left;
    }
}
/* End of Footer */
/* --------------------------------------------------------------------------------------------------------------------------- */

/* Start of Content Page -Section2 of Main Page */
/* .content-page {
    position: relative;
    width: 100%;
} */

/* .side-bar {
    font-size: 72px;
    color: rgb(255,255,255);
    background-color: rgb(31,31,31);
    padding: 0;
    height: 100vh;
} */

/* .portfolio-wrapper {
    margin: 20px;
    text-align: center;
}

.portfolio-wrapper .row{
   margin:0;
} */

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-bottom:7px;
    text-align:center;
}

.thumbnail img {
    margin: 0;
}

/* Side title for feature projects */
.side-title {
    position: absolute;
    width: 250px;
    height: 60px;
    margin:0;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

@media screen and (min-width: 720px)
{
	.side-title {
		-webkit-transform: rotate(90deg);
		-webkit-transform-origin: left bottom;
		-moz-transform: rotate(90deg);
		-moz-transform-origin: left bottom;
		-ms-transform: rotate(90deg);
		-ms-transform-origin: left bottom;
		-o-transform: rotate(90deg);
		-o-transform-origin: left bottom;
		transform: rotate(90deg);
		transform-origin: left bottom;
		z-index: 10;
	}
}

/* Show more projects */
.show-more {
    width:  150px;
    display: flex;
    flex-direction: row;
    text-align:center;
    margin:auto;
    margin-top:10px;
}

.show-more a{
    margin:auto;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.show-more a img{
    margin-bottom:20px;
    transition: transform .3s ease-out;
}

.show-more a .caption {
    transition: transform .3s ease-out;
}

.show-more a:hover img{
    transform: translate(0, -2.5px);
}

.show-more a:hover .caption{
    transform: translate(0, 2.5px);
}

.show-more a:hover {
    opacity: .75;
}

.space-occupier {
    height: 15vh;
}


/* End of Content Page - Section2 of Main Page */

.fixed {
    position: fixed;
    /* width: 25%; */
}
.scrollit {
    float: right;
    /* width: 71% */
}