.description-box-wrapper{
    display: table;
    height: 80vh;
    width: 100%;
}

.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box .wrapper-middle {
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: #000;
    font-size: 5vw;
    letter-spacing: 0em;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: #000;
    font-size: 8vw;
    width: 50%;
    margin: 0;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #000;
    font-size: 1vw;
    width: 65%;
}


.image-wrapper {
    width: 90%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

.image-wrapper-col-left {
    padding: 1%;
}

.image-wrapper-col-right {
    padding: 1%;
}

.image-wrapper-col-half-top{
    margin: 0px 0px 4% 0px;
    height: 50%;
}

.image-wrapper-col-half-bottom{
    margin: 4% 0px 0px 0px;
    height: 50%;
}

.image-wrapper .image-wrapper-col-half-top > a > img {
    width: 100% !important;
    height: 100% !important;
  }

  .image-wrapper .image-wrapper-col-half-bottom > a > img {
    width: 100% !important;
    height: 100% !important;
  }

.image-wrapper .image-wrapper-col-left > a > img {
    width: 100% !important;
    height: 100% !important;
}

.image-wrapper .image-wrapper-col-right > a > img {
    width: 100% !important;
    height: 100% !important;
}

.scroll-btn-wrapper {
    height: 10vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}