.row {
    margin:0;
    padding: 0;
}

#section0{
	width:100%;
	height:100vh;
}

.description-box-wrapper{
    display: table;
    height: 80vh;
    width: 100%;
}

.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box .wrapper-middle {
    width: 100%; 
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: #000;
    font-size: 3.5vw;
    letter-spacing: 0em;
    width: 65%;
    margin: 0;
    line-height: 2.5vw;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: #000;
    font-size: 7vw;
    width: 50%;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #000;
    font-size: 1vw;
    width: 60%;
}


.image-wrapper {
    height: 75vh;
    width: 90%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    margin: 0 auto;
}

.image-wrapper-col-left {
    flex:1;
    width: 45%;
    margin: 0px 0.25% 0px 0px;
    height: 100%;
}
.image-wrapper-col-right {
    width: 100%;
    margin: 0px;
    height: 100%;
}

.image-wrapper-col-half-top{
    margin: 0px 0px 1% 0px;
    height: 49.5%;
}

.image-wrapper-col-half-bottom{
    margin: 1% 0px 0px 0px;
    height: 49.5%;
}

.image-wrapper .image-wrapper-col-half-top > a > img {
    width: 100% !important;
    height: 100% !important;
  }

  .image-wrapper .image-wrapper-col-half-bottom > a > img {
    width: 100% !important;
    height: 100% !important;
  }

.image-wrapper .image-wrapper-col-left > a > img {
    width: 100% !important;
    height: 100% !important;
}

.image-wrapper .image-wrapper-col-right > a > img {
    width: 100% !important;
    height: 100% !important;
}

.scroll-btn-wrapper {
    height: 10vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 480px)
{
	.scroll-btn-wrapper{
		display:none;
	}
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #99999970;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.row {
   //margin-left: 15px !important;
   //margin-right: 15px !important;
}

.placeholder-image{
	height : 100%;
	width: 100%;
	margin: 10px;
}

.long-div {
    height:500px;
	padding : 15px;
}
.short-div {
    height:250px;
	padding : 15px;
}

